<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="dashboard.html">Wavelength</a></h1>
            <a href="dashboard.html">Home</a>
            <a href="login.html">Login</a>
        </nav>
        <main>
            <h2>Find the next binge worthy Playlist!</h2>
            <h4>Connect directly to your Spotify account</h4>

        </main>
    </header>
    
</body>
</html>