<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Music App </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to the Music Profile App</h1>
    <div id="login-form">
        <form action="/auth/login" method="post">
            <div class="form-group">
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username"><br>
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>