:root{
    --primary-color:black;
    --color-text-primary:rgb(228, 219, 219);

}
[data-theme="light"]{
    --bg: white;
    --text:black;
}
body{
    background-color: var(--primary-color);
    color: var(--color-text-primary);
}
header{
    text-align: left;
    padding: 10px;
}
a:link{
    text-decoration: var(--color-text-primary);
}
a:visited{
    text-decoration: none;
}
a{
    color: var(--color-text-primary)
}
.header-left{
    padding-left: 2%;
}
#profile{
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
}
.nav-links{
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    list-style-type: none;
    margin: 3px;
    background-color:rgba(5, 13, 49, 0.893);
}
.nav-links li a{
    display: block;
    text-decoration: none;
    padding:14px 20px;
}
.nav-links li a:hover{
    background-color: rgb(1, 8, 8);
    color: white;
}
.main-content{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-left: 20px;
    justify-content: flex-end;
}
.login-main-content{
    background-size:100% 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 5rem;
    justify-content: flex-start;
    background-repeat: no-repeat;
}
.content-img{
    width: 1400px;
    height: 400px;
    object-fit: cover;
}
#login-form{
    padding-left: 20px;
    background-color:transparent;
}
.button{
    background-color:#122c53;
    border-color: black;
    border-style: solid;
    color:white;
    width: 200px;
    cursor: pointer;
    border-radius: 12px;
    
}
.form-group{
    text-decoration: underline;
}
#forgot-password{
    padding-left: 40px;
}
#top-tracks{
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
}
table,th{
    border: 1px solid white;
}