<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
         <div class="header-container">
            <div class="header-left">
            <h1><a href="/">Wavelength</a></h1>
            </div>
    </header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">About us</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
            

            
        </nav>
    <main>
        <div class="main-content">
            <div class="main-content__text">
                <h2>Find the next binge worthy Playlist!</h2>
                <p>Connect directly to your Spotify account</p>
            </div>
            <img class="content-img"   src="/images/home-content-2.jpg" alt="dj-playing-music">
            </div>
        </main>
    
    
</body>
</html>