<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Music App </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
         <div class="header-container">
            <div class="header-left">
            <h1><a href="/">Wavelength</a></h1>
            </div>
    </header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">About us</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
            <main>
    <div class="login-main-content">
            <div id="login-form">
            <h2>Please login Below</h2>
        <form action="/auth/login" method="post">
            <div class="form-group">
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username"><br>
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br>
            </div>
            <button class="button" type="submit">Login</button><br>
            <a id="forgot-password" href="/">Forgot Password?</a><br>
            <button class="button" id="signup-button" type="button">Sign Up</button>
        </form>
        <img class="content-img" id="login-img"   src="/images/login-img.jpg" alt="dj-playing-music">
        </div>
        
</div>
    <div class="form-popup" id="signup-form">
        <form action="/auth/signup" method="post">
            <h1>Sign Up</h1>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <label for="password"><b>Password</b></label>
            <input type="text" placeholder="Enter Password" name="password" required><br>
            <button class="button" type="submit">Create Account</button><br>
            <button class="button" type="button" id="cancel-form">Cancel</button>
        </form>
    </div>
<script src="/js/login.js"></script>
</body>
</html>
